/* * {
    border: 1px solid lightblue;
} */
body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
}

.upper, .header, .footer {
    background-color: #1F2937;
    display: flex;
}

.container {
    display: flex;
}

.image {
    height: 100px;
    width: 100px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.header {
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
.title-img {
    background-color: #E5E7EB;
    width: 400px;
    text-align: center;
}
.title h1 {
    font-weight:bolder;
    font-size: 48px;
    text-align: center;
}

.title h1, .logo {
    color: #F9FAF8;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.footer {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}